<div class='nav_bar'>
  <h1>Blog App Users</h1>
  <a href="/users/sign_out" >Sign out</a>
</div>
<% @users.each do |user| %>
  <div class='users'>
    <div class='img'>
      <%= image_tag('icon.png')  %>
    </div>
    <div class='user_info'>
      <h2>Name: <%= user.name %></h2>
      <span>
      <h4>Posts:<%= user.posts_counter %></h4>
      <a id="<%=user.id%>" href='/users/<%= user.id %>'>More info</a>
      </span>
    </div>
  </div>
<% end %>
