<h1>Posts#index</h1>


<div>
<%= image_tag('icon.png', class: "userPix")  %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h3 class="mb-2 text-sm font-bold"><%= post.title %> #<%= post.id %></h3>
        <p><%= post.text %></p>
        <p>Comments <%= post.comments_counter %>, Likes <%= post.likes_counter %></p>
        <ul>
          <% post.recent_comments.each do |comment| %>
            <li><%= comment.author.name %> : <%= comment.text %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
